<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </Console>

        <Routing name="DomainRouting">
            <Routes pattern="${ctx:domain}">
                <Route>
                    <RollingFile name="DomainFile"
                                 fileName="logs/domain/${ctx:domain:-unknown}/${ctx:domain:-unknown}.json"
                                 filePattern="logs/domain/${ctx:domain:-unknown}/archive/${ctx:domain:-unknown}-%d{yyyy-MM-dd}-%i.json.gz">
                        <JsonLayout
                                complete="true"
                                compact="false"
                                eventEol="true"
                                header="true"
                                properties="true"
                                includeStacktrace="true"/>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                            <SizeBasedTriggeringPolicy size="10MB"/>
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>


        <RollingFile name="InfoFile"
                     fileName="logs/level/INFO/info.json"
                     filePattern="logs/level/INFO/archive/info-%d{yyyy-MM-dd}-%i.json.gz">
            <JsonLayout
                    complete="true"
                    compact="false"
                    eventEol="true"
                    header="true"
                    properties="true"
                    includeStacktrace="true"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="WarnFile"
                     fileName="logs/level/WARN/warn.json"
                     filePattern="logs/level/WARN/archive/warn-%d{yyyy-MM-dd}-%i.json.gz">
            <JsonLayout
                    complete="true"
                    compact="false"
                    eventEol="true"
                    header="true"
                    properties="true"
                    includeStacktrace="true"/>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorFile"
                     fileName="logs/level/ERROR/error.json"
                     filePattern="logs/level/ERROR/archive/error-%d{yyyy-MM-dd}-%i.json.gz">
            <JsonLayout
                    complete="true"
                    compact="false"
                    eventEol="true"
                    header="true"
                    properties="true"
                    includeStacktrace="true"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>


    </Appenders>

    <Loggers>
        <!-- AOP 로그를 RoutingAppender로 처리 -->
        <Logger name="org.scoula.common.aop" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DomainRouting"/>
            <AppenderRef ref="InfoFile"/>
        </Logger>

        <Logger name="org.scoula.common.aop.warn" level="WARN" additivity="false">
            <AppenderRef ref="WarnFile"/>
        </Logger>
        <Logger name="org.scoula.common.aop.error" level="ERROR" additivity="false">
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <Logger name="org.scoula" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <Logger name="jdbc" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <Logger name="org.springframework.jdbc" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <Root level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>