<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.recommend.mapper.CustomRecommendMapper">
    <resultMap id="customRecommendMap" type="org.scoula.recommend.domain.CustomRecommendVo">
        <id property="prdtId" column="prdt_id"/>
        <id property="email" column="email"/>
        <result property="recReason" column="rec_reason"/>
        <result property="segment" column="segment"/>
    </resultMap>

    <select id="getCustomRecommendsByEmail" resultMap="customRecommendMap">
        SELECT *
        FROM custom_recommand_prdt
        WHERE email = #{email}
    </select>

    <insert id="insertCustomRecommend">
        INSERT INTO custom_recommand_prdt (prdt_id, email, rec_reason, segment)
        VALUES (#{prdtId}, #{email}, #{recReason}, #{segment})
    </insert>

    <update id="updateCustomRecommend">
        UPDATE custom_recommand_prdt
        SET rec_reason = #{recReason},
            segment    = #{segment}
        WHERE prdt_id = #{prdtId}
          AND email = #{email}
    </update>

    <delete id="deleteCustomRecommend">
        DELETE
        FROM custom_recommand_prdt
        WHERE prdt_id = #{prdtId}
          AND email = #{email}
    </delete>
</mapper>
