<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.recommend.mapper.CustomRecommendMapper">

    <resultMap id="customRecommendMap" type="org.scoula.recommend.domain.CustomRecommendVo">
        <result property="user_email" column="user_email"/>
        <result property="fin_prdt_cd" column="fin_prdt_cd"/>
        <result property="score" column="score"/>
    </resultMap>

    <select id="getCustomRecommendsByEmail" resultMap="customRecommendMap">
        SELECT user_email, fin_prdt_cd, score
        FROM custom_recommend_prdt
        WHERE user_email = #{email}
    </select>

    <insert id="insertCustomRecommend">
        INSERT INTO custom_recommand_prdt (prdt_id, email, rec_reason, segment)
        VALUES (#{prdtId}, #{email}, #{recReason}, #{segment})
    </insert>

    <update id="updateCustomRecommend">
        UPDATE custom_recommand_prdt
        SET rec_reason = #{recReason},
            segment    = #{segment}
        WHERE prdt_id = #{prdtId}
          AND email = #{email}
    </update>

    <delete id="deleteCustomRecommend">
        DELETE
        FROM custom_recommand_prdt
        WHERE prdt_id = #{prdtId}
          AND email = #{email}
    </delete>
</mapper>
