<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.products.mapper.TimeDepositsMapper">

    <resultMap id="TimeDepositsDTOMap" type="org.scoula.products.dto.TimeDepositsDto">
        <id property="fin_prdt_cd" column="fin_prdt_cd"/>
        <result property="fin_prdt_nm" column="fin_prdt_nm"/>
        <result property="prdt_feature" column="prdt_feature"/>
        <collection property="optionList" ofType="org.scoula.products.dto.TimeDepositsDto$OptionList"
                    select="findOptionsByFinPrdtCd" column="fin_prdt_cd"/>
    </resultMap>

    <resultMap id="OptionListMap" type="org.scoula.products.dto.TimeDepositsDto$OptionList">
        <result property="save_trm" column="save_trm"/>
        <result property="intr_rate" column="intr_rate"/>
        <result property="intr_rate2" column="intr_rate2"/>
    </resultMap>

    <select id="findAllTimeDeposits" resultMap="TimeDepositsDTOMap">
        SELECT
            fp.fin_prdt_cd,
            fp.fin_prdt_nm,
            fp.prdt_feature
        FROM
            fin_prdt fp
        WHERE
            fp.fin_prdt_category = '예금' </select>

    <select id="findOptionsByFinPrdtCd" resultMap="OptionListMap">
        SELECT
            fpo.save_trm,
            fpo.intr_rate,
            fpo.intr_rate2
        FROM
            fin_prdt_option fpo
        WHERE
            fpo.fin_prdt_cd = #{finPrdtCd}
          AND fpo.intr_rate_type_nm = '단리' </select>

</mapper>
