<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.auth.mapper.RefreshTokenMapper">

    <insert id="saveRefreshToken" parameterType="org.scoula.auth.dto.RefreshTokenDto">
        INSERT INTO refresh_token (user_email, token_value, expires_at)
        VALUES (#{userEmail}, #{tokenValue}, #{expiresAt})
            ON DUPLICATE KEY UPDATE
                                 token_value = VALUES(token_value),
                                 expires_at = VALUES(expires_at)
    </insert>

</mapper>
